.container {
  width: 1280px;
  margin: 0 auto;
}
.logo {
  text-decoration: none;
}
.header {
  font-size: 80px;
  font-family: sans-serif;
  margin: 61px 0px 44px;
}
.top-nav {
  background-color: #35444f;
}
.top-nav-link {
  font-size: 24px;
}
.top-nav-item:hover {
  background-color: #222f3a;
}
.top-nav-item {
  display: inline-block;
  padding: 27px 42px 21px 41px;
}
.top-nav-item > a {
  text-decoration: none;
  color: white;
}
.top-nav-item:first-child {
  padding-left: 204px;
}
.top-nav-item:last-child {
  padding-right: 195px;
  float: right;
}
.ver-nav {
  font-family: sans-serif;
  font-size: 30px;
  float: left;
  border: black solid 1px;
  height: 399px;
  width: 344px;
  margin-top: 51px;
}
.ver-nav-item:hover {
  background-color: #dbdbdb;
  padding-left: 69px;
}
.ver-nav-item > a {
  text-decoration: none;
  color: #495863;
  font-size: 30px;
}
.ver-nav-item {
  padding: 20px 0px 20px 44px;
}
.img {
  border: black solid 1px;
  height: 529px;
  width: 880px;
  margin-left: 396px;
  margin-top: 51px;
}
img {
  margin: 75px 268px 73px 297px;
}
img:hover {
  transform: scale(1.2);
  transition: 1s;
}
.main-text {
  font-size: 18px;
  width: 815px;
  margin-left: 426px;
  margin-top: 50px;
  margin-bottom: 51px;
}
.footer {
  border: black solid 1px;
}
.footer-link {
  padding: 21px 10px 21px 44px;
  background-color: #63696e;
}
.footer-item {
  display: inline-block;
}
.footer-item > a {
  text-decoration: none;
  font-size: 28px;
  color: #0c1927;
  font-family: sans-serif;
  padding-right: 15px;
}
.footer-item > a:hover {
  text-decoration: underline;
  color: #4cc9ff;
}
.footer-item-copyright {
  float: right;
  padding-right: 34px;
  font-size: 24px;
  color: #0c1927;
}

